{% extends 'base.html.twig' %}

{% block title %}
    Hello!
{% endblock %}

{% block body %}
    <p>
        Welcome! If You want to join the chat, please register.
    </p>
    <form action="/register" method="get">
        <input type="submit" value="I want to join!"/>
    </form>
{% endblock %}